<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex p-0 flex-column align-items-center">
            <img src="../public/img/burger.png" alt="">
            <h1>Eat-da-Burger</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 px-5 mt-3 ordered d-flex justify-content-end">

            <h6 class="p-2 w-50"></h6>
            <button class="btn py-0 btn-warning mx-1 devour-btn">Devour me!</button>

        </div>
        <div class="col-6 px-5 mt-3 devoured">
            <h6 class="p-2 w-50"></h6>
        </div>
    </div>
    <br>
    <div class="row d-flex flex-column align-items-center">
        <div class=" form-control w-25 d-flex flex-column align-items-center">
            <input type="text" class="w-100 mb-2" id="burger-text">
            <button class="btn btn-warning" id="burger-submit">Enter your favourite Burger</button>
        </div>
    </div>
</div>